:root {
  --picdark: #102940;
  --picdeepblue: #3f688c;
  --piclightblue: #9ac7d9;
  --picbeige: rgb(217, 205, 184);
  --picbrown: rgb(89, 58, 30);
}

/* General html Section */

body {
  background-color: #223340;
  display: flex;
  flex-direction: column;
}

.welcome {
  position: absolute;
  top: -2em;
  right: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: white;
  font-size: 0.7em;
  font-style: italic;
}

.welcome h3 {
  font-weight: 200;
}

/* Hero Section */
.h1-container {
  position: relative;
  top: 4em;
  left: 0;
  text-align: center;
  z-index: 3;
  color: white;
}
.line1 {
  font-size: 2.4em;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.line2 {
  font-size: 5em;
  color: #8c785a;
  font-display: swap;
}
.line3 {
  font-size: 0.7em;
  letter-spacing: 0.7em;
  font-weight: 200;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Navigation Section */

.navigation-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  color: white;
}
ul {
  list-style-type: none;
  padding: 1em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

li p {
  text-align: center;
  font-style: italic;
  font-weight: 200;
}
li a:hover {
  color: #223340;
}
li.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.signing {
  font-size: 1em;
  font-weight: 300;
  vertical-align: middle;
  line-height: 2em;
  padding: 0.5em 1em;
  border: 2px solid white;
  border-radius: 1em;
}

/* tours Section */

.cards-tours {
  flex: 1;
  display: flex;
  margin: 2em;
  margin-top: 4em;
  flex-direction: row;
}

.tourCard {
  z-index: 3;
  color: #223340;
  background-color: rgba(255, 255, 255, 0.5);
  width: calc(33.33% - 1em);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title-container {
  height: 6em;
}

.tour-images {
  width: 100%;
  height: 265px;
  border-radius: 1em;
  object-fit: cover;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.detail {
  background-color: var(--picdeepblue);
  padding: 0.5em 1.5em;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 1em 0;
  width: max-content;
}
.detail p {
  padding-right: 1em;
}
.price {
  width: max-content;
  border-radius: 1em;
  padding: 0 2em;
  background-color: rgba(217, 205, 184, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  font-weight: 500;
}

/* Single tour Section */

.single_tour {
  display: flex;
  margin: 2em;
  margin-top: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singlecard {
  width: 90%;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.singlecard h2 {
  color: var(--picdark);
  font-size: 2.6em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}
.singlecard h3 {
  color: var(--picdark);
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}

.singlecard h4 {
  color: white;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-style: italic;
}

.singlecard p {
  font-style: italic;
}
.dates {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: center;
  align-content: center;
  background-color: var(--picdeepblue);
  color: white;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 0 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.description_card {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  margin-top: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.description_card p {
  padding: 2em;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: var(--picdeepblue);
  vertical-align: center;
}
.tour-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  margin: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Pagination Section */

.pagination {
  position: relative;
  margin-top: 2em;
  padding: 1em;
  color: white;
  z-index: 4;
}
.step-links {
  flex-direction: column;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current {
  color: var(--picdeepblue);
  font-weight: 500;
  margin: 0 1em;
}
.prevlast {
  color: white;
  font-weight: 300;
  margin: 0 1em;
  letter-spacing: 0.2em;
}

/* Login Section */

.login-card {
  width: max-content;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 4em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.username,
.password {
  display: flex;
  justify-content: space-around;
  margin: 1em;
  align-content: center;
  align-items: center;
}
.username input,
.password input {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 1em;
  color: var(--picdark);
  margin-left: 1em;
}

#login-btn {
  background-color: white;
  padding: 0.5em 2em;
  color: var(--picdark);
  border-radius: 1em;
  border: 1px solid white;
  font-size: 1.2em;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 1em 0;
  letter-spacing: 0.1em;
  width: max-content;
}

.sign-up {
  font-style: italic;
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 1em;
}

.error {
  color: red;
}

/* Agent Section */

.agent-container {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  width: 90%;
  flex-direction: row;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.agent-card {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.agent-card h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--picdark);
  margin: 0;
}
.agent-card p {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--picdark);
  margin-top: 1em;
}
.agent-link {
  all: inherit;
  cursor: pointer;
}
.agent-link:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.profile {
  z-index: 5;
  text-align: center;
  vertical-align: center;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  margin: 0em 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
