<nav class="navigation-container">
  <ul>
    {% with request.resolver_match.url_name as url_name %}
    <li class="{% if url_name == 'home' %} active{% endif %}">
      <a href="/">GoNZ</a>
    </li>
    <li
      class="{% if url_name == 'tour_list' or url_name == 'tour_detail' %} active{% endif %}"
    >
      <a href="/tours">Tours</a>
    </li>
    <li
      class="{% if url_name == 'agent_list' or url_name == 'agent_detail' %} active{% endif %}"
    >
      <a href="/agents">Agents</a>
    </li>
    <li>
      <a class="signing" href="/login">Login/Sign-Up</a>
      {% if username %}
      <p>Hi, {{ username }}!</p>
      {% else %}
      <p>Welcome to GoNZ</p>
      {% endif %}
    </li>
  </ul>
  {% endwith %}
</nav>
