{% extends "base.html" %} {% block content %}
<div class="agent-container2">
  <img
    src="/media/{{ agent.profile_pic}}"
    alt="Agent Picture"
    class="profile"
  />
  <div class="agent-card">
    <h3>{{agent.name}}</h3>
    <span>{{agent.position}}</span>
  </div>
</div>
<div class="space"></div>
<!-- Tour details... -->
{% for tour in agent.tour_set.all %}
<div class="agent-container">
  <img class="profile" src="{{ tour.image.url }}" alt="Tour Image" />
  <div class="mid">
    <h2>{{ tour.name }}</h2>
    <div class="dates">
      <p>Start Date: {{ tour.start_date }}</p>
      <p>-</p>
      <p>End Date: {{ tour.end_date }}</p>
    </div>
  </div>

  <a class="detail" href="{% url 'tour:tour_detail' tour.pk %}">View Details</a>
</div>
{% endfor %} {% endblock %}
