{% extends "base.html" %} {% block content %}
<div class="single_tour">
  <div class="singlecard">
    <h2>{{ tour.name }}</h2>
    <p>This Promotion will run from:</p>
    <div class="dates">
      <p>Start Date: {{ tour.start_date }}</p>
      <p>-</p>
      <p>End Date: {{ tour.end_date }}</p>
    </div>
  </div>
  <div class="singlecard">
    <h2>Tour Details:</h2>
    <div class="description_card">
      <img class="tour-image" src="{{ tour.image.url }}" alt="Tour Image" />

      <p>{{tour.description}}</p>
    </div>

    <h4>Agent: {{ tour.agent }}</h4>
    <div class="dates">
      <p>Price: {{ tour.price }} $</p>
    </div>
  </div>
</div>
{% endblock %}
